@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body { background-color: #b4deac; margin: 0; font-family: 'Roboto Condensed', sans-serif;}
main {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.card{
  width: 400px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
  margin: auto;
  text-align: left;
  cursor: pointer;
  position: relative;
  height: 360px;
  display: inline-block;
  transform: scale(.9);
  transition: all .3s;
}

.card:hover{
  transform: scale(.95);
}

.card-top {
  width: 100%;
  height: 270px;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-top > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}
.card-mid {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: white;
  border-bottom-left-radius: 10px;
  overflow:hidden;
  border-bottom-right-radius: 10px;
  transition: all .3s;
}
.card-mid h4{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.card-mid label{
  margin: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}
.card-image{
  transition: all .3s;
}
.card:hover .card-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.card-desc {
  transition: all .3s .2s;
  border-left: 0px solid #b4deac;
}
.card:hover .card-desc {
  border-left: 2px solid #b4deac;
  padding-left: 8px;
}
.card-blur-zone {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 15px;
  background-color: rgba(255, 255, 255, .8);

}
