
.footer{
    background-color: #F5F5D0;

}

.footer a{
    color: #000;
}

.footer a:hover{
    color: #000;
}

.footerlinks{
    color: #000;
}

.sneakers{
    background-color: #F5F5D0;
}

.profile-cart{
    color: #0000;
}

/*
.loade {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
*/

.loader{
    background-color: white;
}
