
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

.footer{
    background-color: #F5F5D0;

}

.footer a{
    color: #000;
}

.footer a:hover{
    color: #000;
}

.footerlinks{
    color: #000;
}

.sneakers{
    background-color: #F5F5D0;
}

.profile-cart{
    color: #0000;
}




