
.footer{
    background-color: #fff3cd;


}

.footer a{
    color: #000;
}

.footer a:hover{
    color: #000;
}

.footerlinks{
    color: #000;
}

.sneakers{
    background-color: #F5F5D0;
}

.profile-cart{
    color: #0000;
}

  .pageButtons:hover{
    box-shadow: inset 200px 0 0 0 #b9b306;
    transition: .4s ease-in-out;

  }

.login-gif {
    background: url(../img/forms/bg.jpg);
    background-size: cover;
    overflow-x: hidden;
  }

