@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #333;
    font-family: 'Kanit', sans-serif;
}

header {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.logo {
    box-sizing: content-box;
    padding-left: 50px;
    width: 70px;
}

.logo > svg {
    display: block;
    width: 100%;
}

nav > ul {
    display: flex;
    font-size: 1rem;
    height: 70px;
    list-style: none;
    text-transform: capitalize;
}

nav > ul > li {
    line-height: 70px;
    padding: 0 30px;
    transition: background-color .3s ease-in-out;
}

nav > ul > li:hover {
    background-color: rgba(0,0,0,.1);
}

.nav-right > ul > li {
    border-right: 1px solid rgba(0,0,0,.1)
}

.nav-right > ul > li:nth-child(1) {
    border-left: 1px solid rgba(0,0,0,.1);
}

.nav-right > ul > li:last-child {
    border-right: none;
}

main {
    display: flex;
    height: calc(100vh - 70px);
}

.left {
    background-color: #f7f7f6;
    flex: 1;
    height: 100%;
}

.product-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.product-info > h1 {
    font-size: 3.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.product-info > p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.product-info > h2 {
    font-size: 1.56rem;
    margin-bottom: 20px;
}

.btn {
    color: #f7f7f6;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    text-transform: uppercase;
    transition: box-shadow .5s ease-in-out,
                transform .5s ease-in-out;
}

.btn:hover {
    box-shadow: 3px 10px 20px rgba(0,0,0,.3);
    transform: translateY(-5px);
}

.info-btns {
    display: flex;
}

.discover-btn {
    background-color: #a4a4a4;
}

.cart-btn {
    background-color: #141110;
}

.right {
    background-color: #f9e2ba;
    flex: 1;
    height: 100%;
    position: relative;
}

.right > img {
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .logo > svg {
      height: 60px;
      width: 60px;
    }

    .logo {
      padding-left: 15px;
    }
    nav > ul {
      height: 60px;
      font-size: 1rem;
    }

    nav > ul > li {
      line-height: 60px;
      padding: 0 20px;
    }
    .product-info > h1 {
        font-size: 2.2rem;
    }

    .product-info > p {
        font-size: 1rem;
    }

    .product-info > h2 {
        font-size: 1.25rem;
    }

    .btn {
        font-size: .7rem;
        padding: 15px;
    }
    .right > img {
      left: -80px;
    }
}

@media screen and (max-width: 900px) {
  .logo > svg {
    height: 50px;
    width: 50px;
  }

  .logo {
    padding-left: 15px;
  }

  nav > ul {
    height: 50px;
    font-size: .9rem;
  }

  nav > ul > li {
    line-height: 50px;
    padding: 0 15px;
  }

  .right > img {
    left: -60px;
  }
}
